# MongoDB Atlas Configuration
DB_PASSWORD=your_mongodb_atlas_password

# Optional: Litmus Chaos Center (if using Kubernetes)
CHAOS_CENTER_ENDPOINT="http://localhost:9002"
LITMUS_PROJECT_ID=""
LITMUS_ACCESS_TOKEN=""
LITMUS_HUB_ID=""
GROQ_API_KEY=""
GROQ_MODEL=""
LLM_PROVIDER="groq" #openai
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o